<div class="card h-100" style="min-height: 22rem;">
  <div class="card-body">
    <h5 class="card-title">List movie winners by year</h5>
    <form [formGroup]="form" (ngSubmit)="search()" class="mb-2">
      <div class="row">
        <div class="col-9 col-sm-10 col-md-10 col-lg-10">
          <select class="form-select" aria-label="Search by year" formControlName="year">
            <option disabled selected class="placeholder-ellipsis disabled-option" [value]="null">Search by year</option>
            <option *ngFor="let item of years" [value]="item">{{ item }}</option>
          </select>
        </div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-2">
          <button type="submit" class="btn btn-primary">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="col">Id</th>
            <th class="col">Year</th>
            <th class="col">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.year }}</td>
            <td>{{ item.title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
